<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
// Hide Header on on scroll down
var didScroll;
var lastScrollTop = 0;
var delta = 50;
var navbarHeight = $('header').outerHeight();

$(window).scroll(function(event){
    didScroll = true;
});

setInterval(function() {
    if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
}, 250);

function hasScrolled() {
    var st = $(this).scrollTop();
    
    // Make sure they scroll more than delta
    if((Math.abs(lastScrollTop - st) <= delta) || ($(window).width()>900))
        return;
    
    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('#main-nav').fadeOut();
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
            $('#main-nav').fadeIn();
        }
    }
    
    lastScrollTop = st;
}

$(window).resize(function() {

$('#main-nav').fadeIn();

});

</script>

<header class="site-header nav-down">
<div id="main-nav" class="navbar navbar-default navbar-fixed-top site-banner" role="navigation">
  <div class="container-fluid site-banner__inner">
    <div class="site-banner__topbar">
      <a class="site-banner__institution" href="https://www.sfu.ca/" aria-label="Simon Fraser University">
        <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/sfu_logo3.png" alt="Simon Fraser University">
      </a>

      <button type="button" class="navbar-toggle collapsed site-banner__toggle" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="site-banner__main">
      <a class="site-banner__brand" href="{{ site.url }}{{ site.baseurl }}/" aria-label="GrUVi home">
        <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/gruvi_logo.png" alt="GrUVi">
      </a>
    </div>

    <div class="collapse navbar-collapse site-banner__nav" id="navbar-collapse-1">
      <a href="{{ site.url }}{{ site.baseurl }}/" class="{% if page.url == '/' %}is-active{% endif %}">Home</a>
      <a href="{{ site.url }}{{ site.baseurl }}/people" class="{% if page.url == '/people/' %}is-active{% endif %}">Gruviers</a>
      <a href="{{ site.url }}{{ site.baseurl }}/publications" class="{% if page.url == '/publications/' %}is-active{% endif %}">Publications</a>
      <a href="{{ site.url }}{{ site.baseurl }}/about" class="{% if page.url == '/about/' %}is-active{% endif %}">About</a>
    </div>
  </div>
</div>
</header>
