<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
// Hide Header on on scroll down
var didScroll;
var lastScrollTop = 0;
var delta = 100;
var navbarHeight = $('header').outerHeight();

$(window).scroll(function(event){
    didScroll = true;
});

setInterval(function() {
    if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
}, 250);

function hasScrolled() {
    var st = $(this).scrollTop();
    
    // Make sure they scroll more than delta
    console.log($(window).width() );
    if((Math.abs(lastScrollTop - st) <= delta) || ($(window).width()>500))
        return;
    
    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('#main-nav').fadeOut();
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
            $('#main-nav').fadeIn();
        }
    }
    
    lastScrollTop = st;
}
</script>

<header class="nav-down">
<div id="main-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container-fluid backg">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
   
   


    <a href="{{ site.url }}{{ site.baseurl }}/">
      <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/gruvi_logo.png" style="height: 55px;">
    </a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <p align="right" style="padding: 45px 0; ">
                <a href="{{ site.url }}{{ site.baseurl }}/" style="color:#FFFFFF; text-shadow: 2px 2px 3px #606060;"><strong>HOME</strong></a></br>
		<a href="{{ site.url }}{{ site.baseurl }}/people" style="color:#FFFFFF; text-shadow: 2px 2px 3px #606060;"><strong>GRUVIERS</strong></a></br>
		<a href="{{ site.url }}{{ site.baseurl }}/publications" style="color:#FFFFFF; text-shadow: 2px 2px 3px #606060;"><strong>PUBLICATIONS</strong></a></br>
		<a href="{{ site.url }}{{ site.baseurl }}/about" style="color:#FFFFFF; text-shadow: 2px 2px 3px #606060;"><strong>ABOUT</strong></a>
             </p>
	</div>

</div> 
</div>
</header>
