<div id="myNavD{{ include.number_printed }}" class="overlay clearfix" align="center">
<div class="overlay-content" style="max-width: 600px;">
<div class="well clearfix">
<a href="javascript:void(0)" class="closebtn" onclick="closeNavD{{ include.number_printed }}()">&times;</a>
<newstit>{{ include.headline }}</newstit>
<p style="text-align:center">{{ include.date }}</p>
{% if include.image %}
{% endif %}
<p style="padding: 0 15px; text-align: justify;">{{ include.text}}</p>
</div>
</div>
</div>

<script>
function openNavD{{ include.number_printed }}() {
    document.getElementById("myNavD{{ include.number_printed }}").style.width = "100%";
	
	var val = document.getElementById("myNavD{{ include.number_printed }}").value,
                src = '{{ site.url }}{{ site.baseurl }}/images/newspic/{{ include.image }}',
                img = document.createElement('img');

            img.src = src;
            document.body.appendChild(img);
}

function closeNavD{{ include.number_printed }}() {
    document.getElementById("myNavD{{ include.number_printed }}").style.width = "0%";
}
</script>