


<h4>More News</h4>
     
{% assign number_printed = 0 %}
{% assign ID = 0 %}
{% for article in site.data.news%}
{% assign ID = ID | plus: 1 %}
{% if article.highlight == 0 and number_printed < 10 %}
{% assign number_printed = number_printed | plus: 1 %}



{% include newsdetails.html number_printed=ID headline=article.headline date=article.date image=article.image text=article.text %}



<div class="subhover pointer" style="cursor:pointer" onclick="openNavD{{ ID }}()">
  {{ article.date }}<br /> <newstit>{{ article.headline }}</newstit><br /> <br />
</div>

 
{% endif %}
{% endfor %}

<br><newstit><a href="{{ site.url }}{{ site.baseurl }}/allnews.html" style="color: #5684A3; font-size: 22px;">... see all News</a></newstit></br>



