<div id="myNavD{{ include.number_printed }}" class="overlay clearfix" align="center">
<div class="overlay-content" style="max-width: 600px;">
<div class="well clearfix">
<a href="javascript:void(0)" class="closebtn" onclick="closeNavD{{ include.number_printed }}()">&times;</a>
<newstit>{{ include.headline }}</newstit>
<p style="text-align:center">{{ include.date }}</p>
{% if include.image %}
<img id="myImageNavD{{ include.number_printed }}" src="" class="img-responsive" width="33%" hspace="10" style="float: left" />
{% endif %}
<p style="padding: 0 15px; text-align: justify;">{{ include.text}}</p>
</div>
</div>
</div>

<script>
function openNavD{{ include.number_printed }}() {
    document.getElementById("myNavD{{ include.number_printed }}").style.width = "100%";
	document.getElementById('myImageNavD{{ include.number_printed }}').src = "{{ site.url }}{{ site.baseurl }}/images/newspic/{{ include.image }}";
}

function closeNavD{{ include.number_printed }}() {
    document.getElementById("myNavD{{ include.number_printed }}").style.width = "0%";
}


</script>
