<div class="classic-panel-heading">
  <h2>More News</h2>
  <a href="{{ '/news/' | relative_url }}">Archive</a>
</div>
<div class="classic-news-list">
{% assign number_printed = 0 %}
{% for article in site.data.news %}
  {% if article.highlight == 0 and number_printed < 8 %}
    {% assign number_printed = number_printed | plus: 1 %}
    {% assign news_id = article.headline | slugify %}
    <article>
      <time>{{ article.date }}</time>
      <h3><a href="{{ '/news/#' | append: news_id | relative_url }}">{{ article.headline }}</a></h3>
    </article>
  {% endif %}
{% endfor %}
</div>
