<div class="row" style="margin-top: 0px; margin-bottom: 0px;">
<div class="col-sm-12">
<h3> {{include.title}} </h3>
</div>
{% assign number_printed = 0 %}

{% for member in include.people %}

{% assign even_odd = number_printed | modulo: 2 %}

{% if even_odd == 0 %}
<div class="col-sm-4 col-xs-12 clearfix fixheight" style="padding-right: 17px; padding-left: 17px;">
<div class="row">
{% endif %}

<div class="col-sm-6 col-xs-6 clearfix" style="padding-right: 0px; padding-left: 0px">

<div class="row" style="padding-left: 15%;  margin-bottom: 0px;">
{% if member.website %}
<a href="{{ member.website }}" target="_blank"><img src="{{ '/images/teampic/' | append: member.photo | relative_url }}" class="img-responsive" width="85%" style="float: left;"/></a>
{% else %}
<img src="{{ '/images/teampic/' | append: member.photo | relative_url }}" class="img-responsive" width="85%" style="float: left;"/>
{% endif %}
</div>

<h5 style="text-align: center; margin-top: 2px; margin-bottom: 2px;">
{% if member.website %}
<a href="{{ member.website }}" target="_blank">{{ member.name }}</a>
{% else %}
{{ member.name }}
{% endif %}
</h5>



</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
</div>
{% endif %}

{% endfor %}

{% if even_odd != 1 %}
</div>
</div>
{% endif %}
</div>
