
<a href="{{ site.url }}{{ site.baseurl }}/publications/">


<h4>Publications</h4>


<div markdown="0" id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false" >

    <!-- Items -->
    <div class="carousel-inner" markdown="0">
{% assign number_printed = 0 %}
{% for publi in site.data.publist %}
{% if publi.highlight == 1 %}
{% if number_printed < 10 %}	    
{% if number_printed == 0 %}
        <div class="item active" style="height: 245px; ">
{% endif %}
{% if number_printed != 0 %}
	<div class="item" style="height: 245px; ">
{% endif %}
		
		<div  style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
		  <img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}" alt="Slide {{ number_printed }}" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
		</div>
        </div>
{% assign number_printed = number_printed | plus: 1 %}
{% endif %}
{% endif %}	    
{% endfor %}
    </div> 


</div>

</a>
