
<a href="{{ site.url }}{{ site.baseurl }}/publications/">


<h4>Publications</h4>


<div markdown="0" id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false" >

    <!-- Items -->
    <div class="carousel-inner" markdown="0">
{% assign number_printed = 0 %}
{% for publi in site.data.publist limit:10%}
{% if number_printed == 0 %}
        <div class="item active" style="width: auto; height: 245px; max-height: 245px;">
{% endif %}
{% if number_printed != 0 %}
	<div class="item" style="width: auto; height: 245px; max-height: 245px;">
{% endif %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}" alt="Slide {{ number_printed }}" />
        </div>
{% assign number_printed = number_printed | plus: 1 %}
{% endfor %}
    </div> 


</div>

</a>
