a,body,h1,h2,h3,table,td,th {
	color:#14140f;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	margin:0;
	padding:0;
}

p {
	text-align:justify;
}

h1 {
	font-size:24px;
	padding: 0.5em;
}

h2 {
	text-align: left;
	font-size: 16px;
	padding-top:1em;
}

body {
	width:800px;
	padding-top:30px;
	margin-left:auto;
	margin-right:auto;
}

a {
	color:#b80a00;
	text-decoration:none;
	font-weight:700;
}

a:visited {
	text-decoration:none;
	font-weight:700;
}

a:hover {
	color:#ff1400;
}

div#footer {
	margin:auto;
	padding:3em;
	color: #999;
}

div#author-list{
	padding: 1em;
}

div#author-list a{
	margin: 0.75em;
	font-size: 1.1em;
}

div#author-affiliation{
	padding: 1em;
	padding-top: 0em;
	width: 500px;
	margin:auto;
}

span.affiliation{
	padding: 1em;
	color:#aaa;
}

div#venue{
	padding-bottom: 0.5em;
	color:#bbb;
}

div#package a{
	margin: 0.75em;
}

img#teaser{
	width: 800px;
}

#paper-item{
	
}

#slides-item{
	
}

#code-item{
	
}

#data-item{
	
}

#gruvi-logo{
	width: 300px;
}